html {
    font: 1em/1.5555555556 Roboto, Arial, Helvetica, sans-serif;
}

body {
    font: 1em/1.5555555556 Roboto, Arial, Helvetica, sans-serif;
    // background: #000;

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-thumb {
        background: #EA72A8;
    }

    &::-webkit-scrollbar-track {
        display: block;
        height: 0;
        background-color: transparent;
    }

    &.overflow-hidden {
        overflow: hidden;
    }
}



ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}