<header>
  <div class="container-fluid">
    <div class="row">
      {{!-- left side --}}
      <div class="col-lg-3 col-md-3 col-6 d-flex align-items-center">
        <a href="#" class="logo">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 132 32" enable-background="new 0 0 132 32" xml:space="preserve">
            <g>
              <g>
                <path fill="#94C249" d="M46,25h4v-6h-4V25z M1,11h12V7H1V11z M120,0v25h4V0H120z" />
              </g>
            </g>
            <path fill="#E4458D" d="M12,25h13v-4H12V25z M76,27.5V32h4l2.2-4.5H76z" />
            <path fill="#41BEEB" d="M46,12h4V7h-4V12z M80.7,11.6v9.7h3.7l4.5-9.7H80.7z" />
            <g>
              <g>
                <path fill="#F8F7F7" d="M1,7h12l-1.9,3.8L0,30v2h25v-7H12l2.3-3.9L26,2V0H1V7z M38,32h20v-7H46v-6h11v-7H46V7h12V0H38V32z M82.7,0
			L69,30v2h2.7h4.6l0.3-0.5l1.3-2.7l0.4-0.8h0.1h3.7h8.6h0.1l1.6,3.5l0.3,0.5h7.3v-2L86.3,0H82.7z M88,21h-7l3.5-8.2l1.9,4.3L88,21z
			 M120,25c0-13.6,0-8.5,0-25h-8v32h20v-7H120z" />
              </g>
            </g>
          </svg>
        </a>
        <ul class="menu-logo">
          <li>w</li>
          <li>e</li>
          <li>h</li>
          <li>a</li>
          <li>v</li>
          <li>e</li>
          <li>z</li>
          <li>e</li>
          <li>a</li>
          <li>l</li>
        </ul>
      </div>
      {{!-- right side --}}
      <div class="col-lg-9 col-md-9 col-6 d-flex align-items-center justify-content-end">
        {{!-- navbar --}}
        <ul class="navBar">
          <li>
            <a href="">SERVICES</a>
          </li>
          <li>
            <a href="">TEAM</a>
          </li>
          <li>
            <a href="">WORK</a>
          </li>
          <li>
            <a href="">BLOG</a>
          </li>
          <li>
            <a href="">STRATEGY</a>
          </li>
          <li>
            <a href="">CONTACT</a>
          </li>
        </ul>
        {{!-- menu button --}}
        <div class="menuButton">
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</header>