<header>
  <div class="container-fluid">
    <div class="row">
      {{!-- left side --}}
      <div class="col-lg-3 col-md-3 col-6 d-flex align-items-center">
        <a href="#" class="logo">
         <img src="../assets/logo.svg" alt="">
        </a>
      </div>
      {{!-- right side --}}
      <div class="col-lg-9 col-md-9 col-6 d-flex align-items-center justify-content-end">
        {{!-- navbar --}}
        <ul class="navBar">
          <li>
            <a href="">SERVICES</a>
          </li>
          <li>
            <a href="">TEAM</a>
          </li>
          <li>
            <a href="">WORK</a>
          </li>
          <li>
            <a href="">BLOG</a>
          </li>
          <li>
            <a href="">STRATEGY</a>
          </li>
          <li>
            <a href="">CONTACT</a>
          </li>
        </ul>
        {{!-- menu button --}}
        <div class="menuButton">
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</header>
