<div id="menu">
    <div class="container">
        <div class="inner-menu">
            <div class="content-menu">
                <div class="left-side lines">
                    <div class="line">
                        <h4>email</h4>
                        <a href="">info@wehavezeal.com</a>
                    </div>
                    <div class="line">
                        <h4>phone</h4>
                        <p>0113 887 3070</p>
                    </div>
                    <div class="line">
                        <h3>leeds</h3>
                        <p>Platform, New Station Street</p>
                        <p>LS1 4JB</p>
                    </div>
                    <div class="line">
                        <h3>london</h3>
                        <p>Platform, New Station Street</p>
                        <p>LS1 4JB</p>
                    </div>
                </div>
                <div class="right-side lines">
                    <div class="menu-list">
                        <a href="">services</a>
                        <a href="">team</a>
                        <a href="">work</a>
                        <a href="">blog</a>
                        <a href="">strategy</a>
                        <a href="">contact</a>
                    </div>
                    <div class="social-list">
                        <a href="">instagram</a>
                        <a href="">twitter</a>
                        <a href="">facebook</a>
                        <a href="">linkedin</a>
                    </div>
                </div>
            </div>
            <div class="inner-menu-overlay"></div>
        </div>
    </div>
</div>