<footer>
    <div class="container">
        <ul class="first-content">
            <li>W</li>
            <li class="e">E</li>
            <li>H</li>
            <li>A</li>
            <li>V</li>
            <li class="e">E</li>
            <li>Z</li>
            <li>E</li>
            <li>A</li>
            <li>L</li>
        </ul>
        <div class="row second-content">
            <div class="col-sm-3 col-12 d-flex align-items-center flex-column">
                <h3>LEEDS</h3>
                <p>Platform, New Station</p>
                <p>Street</p>
                <p>Leeds, LS1 4JB</p>
            </div>
            <div class="second-col-content col-sm-3 col-12 d-flex align-items-center flex-column">
                <h3>LONDON</h3>
                <p>3rd Floor, 12</p>
                <p>Hammersmith Grove</p>
                <p>London, W6 7AP</p>
            </div>
            <div class="social-footer col-12">
                <a href="">instagram</a>
                <a href="">twitter</a>
                <a href="">facebook</a>
                <a href="">linkedin</a>
            </div>
            <div class="links-footer">
                <a href="">Web Development</a>
                <a href="">Zeal Create</a>
                <a href="">Zeal Digital</a>
                <a href="">Zeal Buzz</a>
                <a href="">Zeal Transform</a>
                <a href="">Careers</a>
            </div>
            <div class="col-12 last-txts-footer">
                <p>Copyright © 2019 Zeal is a trading name of Zeal Media Limited</p>
                <p>Company No. 7201193 VAT No. 988 0519 74</p>
                <p>Privacy Notice</p>
            </div>
        </div>
    </div>
</footer>